<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EYE-PD Demonstration</title>
</head>
<!-- Css Styles -->

    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">

<body>

    <div class="videoWrap">
        <div class="mask">
            <img src="/static/newmask.png">
        </div>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap" >Calculate PD </button>
    <canvas id="canvas" width="640" height="480" hidden></canvas>
    </div>


</body>
<script src="/static/js/main.js"></script>

</html>